<form id="createQuestion" class="is-hidden">
    <div class="field">
    <label class="label">Question</label>
        <div class="control">
            <textarea class="textarea" id="question" placeholder="Type your question here"></textarea>
        </div>
    </div>

    <div class="field">
    <label class="label">Option A</label>
        <div class="control">
            <textarea class="textarea" id="optionA" placeholder="Type Option A here"></textarea>
        </div>
    </div>

    <div class="field">
    <label class="label">Option B</label>
        <div class="control">
            <textarea class="textarea" id="optionB" placeholder="Type your Option B here"></textarea>
        </div>
    </div>

    <div class="field">
    <label class="label">Option C</label>
        <div class="control">
            <textarea class="textarea" id="optionC" placeholder="Type your Option C here"></textarea>
        </div>
    </div>

    <div class="field">
    <label class="label">Option D</label>
        <div class="control">
            <textarea class="textarea" id="optionD" placeholder="Type your Option D here"></textarea>
        </div>
    </div>

    <div class="field">
    <label class="label">Answer</label>
        <div class="control">
            <textarea class="textarea" id="answer" placeholder="Type your Answer here"></textarea>
        </div>
    </div>

    <div class="field is-grouped">
    <div class="control">
        <button class="button is-link">Submit</button>
    </div>
    </div>
</form>

<script type="text/javascript" src="/assets/js/createQuestion.js"></script>