{{!-- <div class="navbar-end navbar-menu">
    <!-- navbar items -->
    <a class="navbar-item">
        Home
      </a>
      <a class="navbar-item">
        Admin
      </a>
  </div> --}}


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Admin
      </a>
      </div>
    </div>
    </nav>

  