{{> navbar}}
<section class="hero is-warning has-text-centered is-fullwidth">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Code Crushers: Survive The TA's
            </h1>
        </div>
    </div>
</section>
<div class="container" id="landing-section">
    <div class="columns">
        <div class="column">
            <div class="tile question notification has-background-grey-lighter">Enter question here and choices</div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <p class="tile placeholder"></p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-flex is-horizontal-center">
            <img src="/assets/minion_armor.jpg" class="minion" alt="raaarrrr" />
        </div>
        <div class="column is-flex is-horizontal-center ">
            <img src="/assets/fight.gif"  alt="raaarrrr" />
        </div>
        <div class="column is-flex is-horizontal-center">
            <img src="/assets/minion_no_armor.png" class="minion" alt="raaarrrr" />
        </div>
    </div>
</div>
{{!-- MUSIC! https://www.fesliyanstudios.com/royalty-free-music/downloads-c/action-music/9 --}}
{{!-- Auto Play Music: https://stackoverflow.com/questions/14356956/playing-audio-after-the-page-loads-in-html/14357365 --}}
<audio controls loop>
  <source src="/assets/intro1_long.wav" autoplay="autoplay" type="audio/wav">
  Your browser does not support the audio element.
</audio>
{{!-- Jonathan Boss Music --}}
<audio controls loop>
  <source src="/assets/FinalBoss.mp3" autoplay="autoplay" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
{{!-- Start Screen music --}}
<audio controls loop>
  <source src="/assets/StartMusic.mp3" autoplay="autoplay" type="audio/mp3">
  Your browser does not support the audio element.
</audio>