{{> navbar}}
<section class="hero is-warning has-text-centered is-fullwidth">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Code Crushers: Survive The TA's
            </h1>
        </div>
    </div>
</section>
<div class="container" id="landing-section">


    <div class="columns is-mobile is-centered is-vcentered cch" id="content">
        <div class="column is-half is-narrow has-text-centered">
            {{!-- DKB: updated start button link --}}
            <a href="/battle"><button class="button is-warning is-large is-rounded is-pulled-left animate__animated animate__tada"">Start</button></a>
            <a href="/questions"><button
                    class="button is-warning is-large is-rounded is-pulled-right">Admin</button></a>
        </div>
    </div>
</div>