{{> navbar}}
<section class="hero is-primary has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Code Crushers: Survive The TA's
      </h1> </div>
  </div>
</section>
<div class="container" id="button-section">
{{!-- <form>
<div class="field">
  <button class="button is-danger is-pulled-right">Admin</button>
    </div>
    <div class="field">
  <button class="button is-primary is-pulled-left">Start Game</button>
    </div>
</form> --}}

</div>