{{> navbar}}
<div class="container" id="landing-section">
        <section class="hero is-warning has-text-centered is-fullwidth">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Code Crushers: Survive The TA's
                </h1>
            </div>
        </div>
    </section>
    
    <div class="columns is-mobile is-centered is-vcentered" id="content">
        <div class="column is-half is-narrow has-text-centered">
            <button class="button is-warning is-large is-rounded is-pulled-left">Start</button>
            <button class="button is-warning is-large is-rounded is-pulled-right">Admin</button>
        </div>
    </div>
</div>