.question {
  height: 200px;
}

.placeholder {
  height: 100px;
}
/* changed 12/17 */
.minion {
  height: 350px;
}

.is-horizontal-center {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.my-element {
  display: inline-block;
  margin: 0 0.3rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: .75s; /* don't forget to set a duration! */
}
/* column spacing*/
.prog-above {
  height: 75px; 
}
/* column spacing */
.prog-bottom
{
  height: 40px; 
} 