body, html{
    height: 100%;
}

#button-section{
    height:100%;
    width: 100%;
    background-image: url("../image.png");
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
